apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ template "horizon.web" . }}
  labels:
{{ include "horizon.labels" . | indent 4 }}
    component: web
spec:
  replicas: {{ .Values.web.replicas }}
  selector:
    matchLabels:
{{ include "horizon.matchLabels" . | indent 6 }}
      component: web
  template:
    metadata:
      labels:
{{ include "horizon.matchLabels" . | indent 8 }}
        component: web
    spec:
      containers:
        - name: web
          image: {{ .Values.web.image.repository }}:{{ .Values.web.image.tag | default .Chart.AppVersion }}
          ports:
            - containerPort: {{ .Values.web.port }}
          livenessProbe:
            httpGet:
              path: /
              port: {{ .Values.web.port }}
            initialDelaySeconds: 300
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /
              port: {{ .Values.web.port }}
            initialDelaySeconds: 1
            periodSeconds: 10
          volumeMounts:
            - name: nginx-config
              mountPath: /etc/nginx/nginx.conf
              subPath: nginx.conf
          {{- if .Values.web.resources }}
          resources: {{ toYaml .Values.web.resources | nindent 12 }}
          {{- end }}
      volumes:
        - name: nginx-config
          configMap:
            name: {{ template "horizon.web" . }}
      {{- with .Values.web.securityContext }}
      securityContext: {{ toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.web.nodeSelector }}
      nodeSelector: {{ toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.web.affinity }}
      affinity: {{ toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.web.tolerations }}
      tolerations: {{ toYaml . | nindent 8 }}
      {{- end }}
