# sa to run the pipeline, includes git-secret, git-token and harbor-secret
apiVersion: v1
kind: ServiceAccount
metadata:
  name: pipeline-sa
secrets:
  {{- range $i, $v := .Values.gitRepos.ssh }}
  - name: git-secret{{ $i }}
  {{- end }}
  - name: git-token
  - name: harbor-secret