apiVersion: v1
kind: Service
metadata:
  name: {{ template "horizon.swagger" . }}
  labels:
{{ include "horizon.labels" . | indent 4 }}
spec:
  ports:
    - name: http
      port: {{ .Values.swagger.service.port }}
      targetPort: {{ .Values.swagger.service.targetPort }}
  selector:
{{ include "horizon.matchLabels" . | indent 4 }}
    component: swagger
