apiVersion: v1
kind: Service
metadata:
  name: tekton-triggers-webhook
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/name: webhook
    app.kubernetes.io/component: webhook
    app.kubernetes.io/instance: default
    app.kubernetes.io/version: "v0.10.0"
    app.kubernetes.io/part-of: tekton-triggers
    app: tekton-triggers-webhook
    version: "v0.10.0"
    triggers.tekton.dev/release: "v0.10.0"
spec:
  ports:
    - name: https-webhook
      port: 443
      targetPort: 8443
    # Attention: edit by ourself, export metrics port
    - name: metrics
      port: 9090
      targetPort: 9090
  selector:
    app.kubernetes.io/name: webhook
    app.kubernetes.io/component: webhook
    app.kubernetes.io/instance: default
    app.kubernetes.io/part-of: tekton-triggers
